h1 {
  text-align: left;
}

.main {
  width: 800px;
  margin: auto;
}

.game-section {
  width: 600px;
  margin: 10px 100px 10px 100px;
  padding: 20px;
  background-color: gray;
}

.game-section h2 {
  margin: 0px;
}
