body {
  background-color: black;
  color: white;
}

a:link {
  color: LightSkyBlue;
}

a:visited {
  color: MediumPurple;
}

h1 {
  text-align: left;
  color: white;
}

h2 {
  color: white;
}

.game-section img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main {
  width: 600px;
  margin: auto;
}

.game-section {
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: SlateGray;
  border-radius: 25px;
}

.game-section h3 {
  margin: 0px 0px 10px 0px;
}
